<!DOCTYPE html>
<html ng-app="myApp" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/baseStyle.css">
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script	src="templates/addressbook.js"></script>

<title>お客様情報管理</title>

</head>
<body ng-controller="addressBook">
		<form name="addressbook" class="addressbook"  novalidate>
			<fieldset>
				<legend>お客様情報</legend>
				<div ng-if="records">
					<button type="button" ng-click="onClickPrev()">◀</button>
					{{currentRecord+1}}	/ {{records}}
					<button type="button" ng-click="onClickNext()">▶</button>
				</div>
				<p>
				<label for="name_rubi"><span><sup>＊</sup>フリガナ：</span></label>
				<input class="name" name="name_rubi" type="text" ng-model="name_rubi" ng-init="name_rubi=''" required />
				<span class="error_message" ng-init="name_rubi_error=false" ng-if="name_rubi_error" >{{name_rubi_error_message}}</span>
				</p>
				<p>
				<label for="name_kanji"><span><sup>＊</sup>氏名：</span></label>
				<input class="name" name="name_kanji" type="text" ng-model="name_kanji" ng-init="name_kanji=''"  required />
				<span class="error_message" ng-init="name_kanji_error=false" ng-if="name_kanji_error" >{{name_kanji_error_message}}</span>
			</p>
			<p>
				<label for="zipcode"><span>郵便番号：</span></label>
				<input class="zipcode" name="zipcode" type="text" ng-model="zipcode" ng-init="zipcode=''" >
				<button type="button" ng-click="onClickGetAddress()">郵便番号=>住所</button>
				<span class="error_message" ng-init="zipcode_error=false" ng-if="zipcode_error" >{{zipcode_error_message}}</span>
			</p>
			<p>
				<label for="address1"><span>住　　所：</span></label>
				<input class="address" name="address1" type="text" ng-model="address1" ><br>
				<label for="address2"><span> </span></label>
				<input class="address" name="address2" type="text" ng-model="address2" >
			</p>
			<p>
				<label for="telno1"><span>電話番号：</span></label>
				<input class="telno" name="telno1" type="text" ng-model="telno1" ng-init="telno1=''" ><br>
				<label for="telno2"><span></span></label>
				<input class="telno" name="telno2" type="text" ng-model="telno2" ng-init="telno2=''" >
			</p>
			<p>
				<label for="readButton"><span></span></label>
				<button type="button" name="readButton" ng-click="onClickReadPerson()">　　読み出し　　</button>
				<button type="button" ng-click="onClickAddPerson()">　　追　加　　</button>
				<button type="button" ng-click="onClickModifyPerson()">　　修　正　　</button>
				<button type="button" ng-click="onClickDeletePerson()">　　削　除　　</button>
				<button type="button" ng-click="onClickClearPerson()">　　ク　リ　ア　　</button>
			</p>
		</fieldset>
		</form>
		<span><b style="color:#c00">＊</b>は必須項目です。{{result}}</span>
	<div>{{result}}</div>
	<p>
	{{name_rubi_error}}
	{{name_rubi_error_message}}
	</p>
	<p>
	{{name_kanji_}}
	{{name_kanji_error_message}}
	</p>

	<div>
	{{pref}}
	{{address}}
	{{city}}
	{{town}}
	{{fullAddress}}

</body>
</html>
